node_modules/
deploy/aws
python/__pycache__/
python/app/__pycache__/
python/app/__init__
deploy/postgres_data/
deploy/push_to_docker_repo.sh
deploy/go-remote.sh
deploy/build_remote.sh
python/venv
python/list
python/kb/*
deploy/kb/
